@import 'tailwindcss';

@theme {
  --color-primary: oklch(62.3% 0.214 259.815);
  --color-hover: oklch(54.6% 0.245 262.881);
  --color-foreground: oklch(27.8% 0.033 256.848);
  --color-muted: oklch(55.1% 0.027 264.364);
}

.input {
  @apply mt-6 w-full max-w-md rounded-2xl border border-muted bg-gray-100 px-4 py-3 text-lg text-foreground shadow-sm focus:border-primary focus:bg-white focus:outline-none focus:ring-2 focus:ring-primary disabled:cursor-not-allowed disabled:bg-gray-200;
}
