@import 'tailwindcss';

@theme {
  --color-primary: oklch(62.3% 0.214 259.815);
  --color-hover: oklch(54.6% 0.245 262.881);
  --color-foreground: oklch(27.8% 0.033 256.848);
  --color-muted: oklch(55.1% 0.027 264.364);
}
